{{ define "title" }}
<title>Dashboard - THUMBAI</title>
{{ end }}

{{ define "body-content" -}}
<div class="admin-dashboard">
    <div style="height: 75vh">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container">
                <div class="row">
                    <!-- Grid row -->
                    <div class="col-md-12">
                        <!-- Grid column -->
                        <div class="card-deck mb-3 text-center">
                            <div id="cardGoModules" class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h3 class="card-title">{{ .GoModulesStats.TotalCount }} <span class="stats-lbl">modules</span></h3>
                                    <hr>
                                    <p class="text-center h3">Go Modules</p>
                                </div>
                                {{ if not .GoModulesEnabled }}<span class="text-info proxy-server-unavailable">proxy server unavailable</span>{{ end }}
                            </div>
                            <div id="cardGoVanities" class="card mb-4 shadow-sm">
                                <div class="card-body text-center">
                                    <h3 class="card-title">{{ .VanityStats.Host }} <span class="stats-lbl">hosts</span>,
                                        {{ .VanityStats.Packages }} <span class="stats-lbl">packages</span></h3>
                                    <hr>
                                    <p class="h3">Go Vanities</p>
                                </div>
                            </div>
                            <div id="cardProxies" class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h3 class="card-title">{{ .ProxyStats.Host }} <span class="stats-lbl">hosts</span>,
                                        {{ .ProxyStats.ProxyRules }} <span class="stats-lbl">rules</span></h3>
                                    <hr>
                                    <p class="text-center h3">Proxies</p>
                                </div>
                            </div>
                            <div id="cardRedirects" class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h3 class="card-title">{{ .RedirectStats.Host }} <span class="stats-lbl">hosts</span>,
                                        {{ .RedirectStats.Redirects }} <span class="stats-lbl">redirects</span></h3>
                                    <hr>
                                    <p class="text-center h3">Redirects</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /Grid column -->
                </div> <!-- /Grid row -->
            </div>
        </div>
    </div>
</div> <!-- /admin-dashboard -->
<script>
window.jqReady(function () {
    $('#cardGoModules').click(function () {
        location = '{{ rurl . "gomod_admin" }}';
    });
    $('#cardGoVanities').click(function () {
        location = '{{ rurl . "vanity_list" }}';
    });
    $('#cardProxies').click(function () {
        location = '{{ rurl . "proxy_list" }}';
    });
    $('#cardRedirects').click(function () {
        location = '{{ rurl . "redirect_admin" }}';
    });    
});
</script>
{{ end -}}