<!DOCTYPE html>
<html>
<head>
<title>Package - {{ .Vanity.Host }}{{ .Vanity.Path }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="go-import" content="{{ .Vanity.Host }}{{ .Vanity.Path }} {{ .Vanity.VCS }} {{ .Vanity.Repo }}">
<meta name="go-source" content="{{ .Vanity.Host }}{{ .Vanity.Path }} {{ .Vanity.Src }}">
<!-- <meta http-equiv="refresh" content="0; url=https://godoc.org/{{ .Vanity.Host }}/{{ .Vanity.Path }}"> -->
</head>
<body>
{{ block "body" . -}}
<p>Nothing to see here.</p>
{{ end }}
</body>
</html>
    