<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  {{ block "title" . }}
  <title>Default page title from master layout</title>
  {{ end }}
  {{ include "head_tags.html" . }}
</head>

<body>
  {{ include "header.html" . }}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {{ include "sidebar.html" . }}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-11 px-4">
        {{ block "body-content" . -}}
        <p>Default body content from master layout</p>
        {{ end }}
      </main>
    </div>
  </div>
  {{ include "footer_scripts.html" . }}
  <script>
    if (window.hasOwnProperty('jqReady')) $(function() {window.jqReady();});
  </script>
</body>

</html>