{{ define "title" }}
<title>Login - THUMBAI</title>
{{ end }}

{{ define "body" }}
<div class="login">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="card card-container">
            <div class="card-container-inner">
                <div class="login-logo-sec">
                    <img class="thumbai-logo-dark-256" src="/assets/img/thumbai-logo-dark-256.png" />
                </div>        
                <div class="mtop15 mbtm15">
                    {{ if eq (qparam . "error") "true" }}
                    <div class="alert alert-danger">
                    Invalid credentials.
                    </div>
                    {{ end }}
                </div>
                <form class="form-signin" method="post" action="{{ rurl . "form_auth_login_submit__aah" }}">
                    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        
                    <!-- Include the requested URL in the form submission -->
                    <input type="hidden" name="_rt" value="{{ qparam . "_rt" }}">
                </form><!-- /form -->
            </div>
        </div><!-- /card-container -->
    </div>
    {{ include "footer.html" . }}
</div><!-- /login -->
{{ end }}