<div class="header">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ rurl . "dashboard" }}"><img src="/@admin/assets/img/thumbai-logo-128.png" alt="logo"></a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="javascript:logout();" data-toggle="tooltip" title="Sign out"><i class="fas fa-power-off fa-sm hdr-sign-out"></i></a>
      </li>
    </ul>
  </nav>
</div>
<form action="{{ rurl . "logout" }}" method="post" id="logoutForm">
</form>
<script>
function logout() {
  $('#logoutForm').submit();
}
</script>