<nav class="col-md-1 d-none d-md-block bg-dark sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {{ if .IsDashboard }}active{{ end }}" href="{{ rurl . "dashboard" }}">
          <i class="fas fa-tachometer-alt fa-2x"></i>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ if .IsModule }}active{{ end }}" href="#">
          <i class="fas fa-cogs fa-2x"></i><br> Module
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ if .IsVanity }}active{{ end }}" href="{{ rurl . "vanity_admin" }}">
          <i class="fas fa-link fa-2x"></i><br> Vanity
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-directions fa-2x"></i><br>Redirect
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-sitemap fa-2x"></i><br>Proxy
        </a>
      </li>
    </ul>
  </div>
</nav>