{{ define "title" }}
<title>Go Vanity Host: {{ pparam . "hostName" }} - THUMBAI</title>
{{ end }} 

{{ define "body-content" -}} 
<div class="admin-vanity-show">
    <h1>Go Vanity Host: <span class="font-weight-bold">{{ pparam . "hostName" }}</span>
        <span class="align-middle float-sm-right">
        <!-- <button id="vanityPkgAddBtn" data-url="#" data-toggle="tooltip" title="Add new vanity package into host" class="btn btn-sm btn-outline-success pl-4 pr-4">Add</button> -->
        <button id="vanityBackBtn" data-url="{{ rurl . "vanity_admin" }}" data-toggle="tooltip" title="Back to Go vanities" class="btn btn-sm btn-outline-success pl-4 pr-4">Back</button>
        </span>
    </h1> 
    <div class="mt-5">
        <table class="table table-hover">
            <thead class="bg-dark text-white">
                <tr>
                <th scope="col">Path</th>
                <th scope="col">Repo</th>
                <th scope="col">VCS</th>
                <!-- <th scope="col">&nbsp;</th> -->
                </tr>
            </thead>
            <tbody>
                {{ if .Packages }}
                {{- range .Packages }}
                <tr class="vanity-pkg-row" data-url="">
                    <td>{{ .Path }}</td>
                    <td>{{ .Repo }}</td>
                    <td>{{ .VCS }}</td>
                    <!-- <td class="text-center veritical-align-middle">
                        <a href=""><i class="fas fa-edit fa-lg"></i></a>     
                        <a href=""><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td> -->
                </tr>
                {{- end }}
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
<!-- Add/Edit vanity host record -->
<!-- <div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="addEditModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEditModalTitle">Add vanity package</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addEditForm" class="mt-3">
                    <div class="form-group">
                        <label for="vanityPkgPath">Package Path</label>
                        <input type="text" class="form-control" id="vanityPkgPath" placeholder="/cache/provider/inmemory" required>
                    </div>
                    <div class="form-group">
                        <label for="vanityPkgRepo">Repository URL</label>
                        <input type="text" class="form-control" id="vanityPkgRepo" placeholder="https://github.com/go-aah/aah.git" required>
                    </div>
                    <div class="form-group disabled">
                        <label for="vanityPkgVcs">VCS</label>
                        <input type="text" class="form-control" id="vanityPkgVcs" placeholder="git" value="git" disabled>
                    </div>
                    <div class="float-right mt-3">
                        <button type="button" class="btn btn-sm btn-outline-secondary pl-4 pr-4" data-dismiss="modal">Close</button>
                        <button id="modalAddBtn" type="submit" class="btn btn-sm btn-outline-success pl-4 pr-4">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  -->
<!-- /addEditModal -->
<script>
window.jqReady = function() {
    $("#vanityBackBtn").click(function() {
        window.location = $(this).data('url');
    });
    // $('#vanityPkgAddBtn').click(function() {
    //     $('#addEditModal').modal();
    // });
    // $('#addEditModal').on('show.bs.modal', function(e) {
    //     $('#addEditForm').trigger('reset');
    //     // $('#vanityHostname').trigger('focus');
    // });
    // $('#addEditForm').submit(function(e){
    //     console.log('came here');
    //     return false;
    // });
}
</script>
{{ end }}